version: "3.9"

services:
  face-verification:
    build:
      context: ./face-verification
    container_name: face-verification
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - BACKEND_URL=http://hms-backend:4000

  voice-agent:
    build:
      context: ./voice-agent
    container_name: voice-agent
    restart: unless-stopped
    ports:
      - "8082:8082"   
    environment:
      - LIVEKIT_URL=${LIVEKIT_URL}
      - LIVEKIT_API_KEY=${LIVEKIT_API_KEY}
      - LIVEKIT_API_SECRET=${LIVEKIT_API_SECRET}
      - GOOGLE_API_KEY= ${GOOGLE_API_KEY}
      - BACKEND_URL=http://hms-backend:4000
    depends_on:
      - hms-backend

  hms-backend:
    build:
      context: ./HMS/backend
    container_name: hms-backend
    restart: unless-stopped
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - FACE_URL=http://face-verification:8080
      - MONGODB_URI=${MONGODB_URI}
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - RAZORPAY_KEY_ID=${RAZORPAY_KEY_ID}
      - RAZORPAY_KEY_SECRET=${RAZORPAY_KEY_SECRET}
    depends_on:
      - face-verification

  hms-frontend:
    build:
      context: ./HMS/frontend
      args:
        VITE_BACKEND_URL: http://hms-backend:4000
    container_name: hms-frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - hms-backend

  hms-admin:
    build:
      context: ./HMS/admin
      args:
        VITE_BACKEND_URL: http://hms-backend:4000
    container_name: hms-admin
    restart: unless-stopped
    ports:
      - "3001:80"
    depends_on:
      - hms-backend
